@import './../../app/styles/mixins-and-variables.scss';

.top{
    .image{
        width: 100%;
        height: 200px;
        background-image: url('/Images/background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .profileShop{
        width: calc(100% - 20px);
        padding: 10px;
        .photo{
            width: 80px;
            height: 80px;
            border-radius: 100%;
            @include flex-align(auto);
            overflow: hidden;
            img{
                height: 90px;
                width: 90px;
            }
        }
    }
}