@import '../../app/styles/mixins-and-variables.scss';

.navbar{
    width: calc(100% - 20px);
    @include flex-align(row);
    padding: 5px 10px;
    gap: 25px;
    border-top: 1px solid gray;
    position: fixed;
    bottom: 0;
    left: 0;
    @media (max-width: 375px) {
        img{
            display: none;
        }
    }
    img{
        margin-right: -5px
    }
    a, .actived{
        @include flex-align(column);
        text-decoration: none;
        color: black;
        width: 70px;
        svg{
            width: 25px;
            height: 25px;
        }
        p{
            margin: 0;
            font-size: 15px;
        }
    }
    .actived{
        color: $orange-color;
        border-bottom: 2px solid $orange-color;
    }
}