@import './../../app//styles/mixins-and-variables.scss';

.main{
    padding: 20px;
    width: calc(100% - 40px);
    @include flex-align(column);
    gap: 10px;
    .filters{
        @include flex-align(row);
        width: 100%;
        gap: 10px;
        @media (max-width: 700px){
            flex-direction: column;
        }
        .input{
            position: relative;
            @include flex-align(auto);
            width: 300px;
            @media (max-width: 700px){
                width: 100%;
            }
            input{
                width: 100%;
                height: 30px;
                border-radius: 10px;
                outline: none;
                border: 1px solid gray;
                padding: 5px 35px 5px 10px;
                font-size: 15px;
                font-weight: 500;
                &::placeholder{
                    font-weight: 400;
                }
            }
            button{
                position: absolute;
                right: 10px;
                padding: 0;
                background-color: transparent;
                @include flex-align(auto);
                svg{
                    width: 25px;
                    height: 25px;
                    margin: 0;
                    color: rgb(75, 75, 75);
                }
            }
        }
        .filter{
            width: 300px;
            @media (max-width: 700px){
                width: 100%;
            }
        }
    }
    .stores{
        width: 100%;
        @include flex-align(row);
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 10px;
        .store{
            width: 275px;
            height: 140px;
            border-radius: 10px;
            @include flex-align(column);
            justify-content: flex-start;
            align-items: flex-start;
            border: 2px solid gray;
            text-decoration: none;
            color: black;
            overflow: hidden;
            font-weight: 500;
            p{
                margin: 0;
            }
            .top{
                padding: 10px 15px;
                @include flex-align(row);
                gap: 10px;
                background-color: rgb(230, 230, 230);
                width: calc(100% - 30px);
                .name{
                    font-weight: 600;
                    font-size: 17px;
                    color: black;
                }
                svg{
                    width: 25px;
                    height: 25px;
                    color: $green-color;
                }
            }
            .infos{
                width: 100%;
                padding: 5px 15px;
                width: calc(100% - 30px);
                @include flex-align(column);
                font-size: 14px;
                span{
                    @include flex-align(row);
                    gap: 5px;
                    .assessments{
                        svg{
                            color: $yellow-color;
                        }
                    }
                    .min{
                        &::before{
                            content: '-';
                            margin: 0 5px 0 0;
                        }
                    }
                }
                .locale{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                }
            }
        }
    }
}