@import './../../app//styles/mixins-and-variables.scss';

.main{
    padding: 0 20px 20px 20px;
    width: calc(100% - 40px);
    @include flex-align(column);
    gap: 10px;
    .stores{
        width: 100%;
        @include flex-align(row-reverse);
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 10px;
        .load, .closed{
            font-size: 15px;
        }
        .load{
            @include flex-align(row);
            svg{
                width: 25px;
                height: 25px;
                animation: loading 3s infinite linear;
            }
        }
        .store{
            width: 275px;
            height: 140px;
            border-radius: 13px;
            @include flex-align(column);
            justify-content: flex-start;
            align-items: flex-start;
            border: 2px solid rgb(170, 170, 170);
            text-decoration: none;
            color: black;
            overflow: hidden;
            font-weight: 500;
            transition: .3s linear;
            box-shadow: 4px 4px 4px rgba(black, 0.2);
            &:hover{
                box-shadow: 6px 6px 4px rgba(black, 0.3);
                transition: .3s linear;
            }
            p{
                margin: 0;
            }
            .top{
                padding: 10px 15px;
                @include flex-align(row);
                gap: 10px;
                background-color: rgb(230, 230, 230);
                width: calc(100% - 30px);
                .name{
                    font-weight: 600;
                    font-size: 17px;
                    color: black;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                    @include flex-align(row);
                    gap: 5px;
                    svg{
                        width: 25px;
                        height: 25px;
                        color: $green-color;
                    }
                }
            }
            .infos{
                width: 100%;
                padding: 5px 15px;
                width: calc(100% - 30px);
                @include flex-align(column);
                font-size: 14px;
                span{
                    @include flex-align(row);
                    gap: 5px;
                    .assessments{
                        .yes{
                            color: $yellow-color;
                        }
                        .no{
                            color: gray;
                        }
                    }
                    .min{
                        &::before{
                            content: '-';
                            margin: 0 5px 0 0;
                        }
                    }
                }
                .locale{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                }
                .delivery{
                    @include flex-align(row);
                    svg{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}

@include loading();