@import './mixins-and-variables.scss';
@import '~react-toastify/dist/ReactToastify.css';

html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: $main-font;
    button{
        font-family: $main-font;
        cursor: pointer;
        border: 0 solid transparent;
    }
    input{
        font-family: $main-font;
        &::placeholder{
            font-family: $main-font;
        }
    }
}
/*::-webkit-scrollbar{
    width: 7px;
    background-color: rgb(200, 200, 200);
}
::-webkit-scrollbar-thumb {
    background-color: $navbar-button-activated;
    border-radius: 20px;
}*/