@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

$main-font: "Edu AU VIC WA NT Hand", cursive;
$orange-color: #FC7C00;
$green-color: #14AE5C;
$yellow-color: #FFA629;
$inputs-color: #E8E9EB;
$background-forms: white;
$color-forms: #3c91e6;
$color-navbar: rgb(240, 240, 240);

@mixin flex-align($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin loading(){
    @keyframes loading {
        0%{
            transform: rotateZ(0deg);
        }
        100%{
            transform: rotateZ(360deg);
        }
    }
}