@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

$main-font: "Edu AU VIC WA NT Hand", cursive;
$background-forms: white;
$color-forms: #FC7C00;
$main-color: #FC7C00;

@mixin flex-align($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    text-align: center;
}