@import './mixins-and-variables.scss';

.search{
    .load, .notresults{
        font-size: 15px;
        margin: 0;
    }
    .load{
        @include flex-align(row);
        font-weight: 500;
        font-size: 16px;
        svg{
            width: 25px;
            height: 25px;
            animation: loading 3s infinite linear;
        }
    }
    .resultsContainer{
        width: calc(100% - 40px);
        @include flex-align(column);
        gap: 10px;
        padding: 20px;
        .results{
            width: 100%;
            @include flex-align(column);
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 10px;
            h1, h2{
                margin: 0;
                padding: 0;
                padding: 0 15px;
                margin-top: 10px;
                font-size: 22px;
                span{
                    color: $green-color;
                }
            }
            h1{
                font-weight: 500;
                margin-bottom: 10px;
                padding: 0;
                margin: 0;
                font-size: 20px;
            }
            h2{
                font-size: 18px;
            }
            p{
                margin: 0;
            }
            .itemsOrStores{
                width: 100%;
                border-bottom: 1px solid rgb(220, 220, 220);
                @include flex-align(row);
                justify-content: flex-start;
                gap: 10px;
                button{
                    background-color: transparent;
                    font-size: 16px;
                }
                .activated{
                    border-bottom: 2px solid $green-color;
                    font-weight: 500;
                }
            }
            .image{
                @include flex-align(column);
                margin-top: 25px;
                width: 100%;
                h1{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            .stores{
                margin-top: 15px;
                @include flex-align(row);
                width: 100%;
                flex-wrap: wrap;
                gap: 10px;
                .store, .storeClose{
                    @include flex-align(row);
                    width: 250px;
                    border: 1px solid gray;
                    padding: 10px;
                    gap: 10px;
                    border-radius: 10px;
                    text-decoration: none;
                    color: black;
                    .image{
                        background-color: rgb(220, 220, 220);
                        padding: 10px;
                        border-radius: 100%;
                        width: 60px;
                        height: 60px;
                        margin: 0;
                    }
                    .infos{
                        @include flex-align(column);
                        align-items: flex-start;
                        h2, p{
                            margin: 0;
                            padding: 0;
                        }
                        h2{
                            font-size: 17px;
                            font-weight: 500;
                        }
                        p{
                            font-size: 13px;
                            font-weight: 400;
                        }
                        span{
                            @include flex-align(row);
                            gap: 5px;
                        }
                        .status, .assessments, .time{
                            &::after{
                                content: '|';
                                margin: 0 0 0 5px;
                            }
                        }
                        .assessments{
                            .yes{
                                color: $yellow-color;
                            }
                        }
                    }
                }
                .storeClose{
                    filter: grayscale(100%);
                }
            }
            .items{
                @include flex-align(column);
                align-items: flex-start;
                width: 100%;
                gap: 20px;
                .item, .itemClose{
                    @include flex-align(column);
                    align-items: flex-start;
                    width: 100%;
                    margin-top: 10px;
                    .store, .storeClose{
                        @include flex-align(row);
                        width: max-content;
                        gap: 10px;
                        text-decoration: none;
                        color: black;
                        .image{
                            background-color: rgb(220, 220, 220);
                            padding: 5px;
                            border-radius: 100%;
                            width: 45px;
                            height: 45px;
                            margin: 0;
                        }
                        .infos{
                            @include flex-align(column);
                            align-items: flex-start;
                            h2, p{
                                margin: 0;
                                padding: 0;
                            }
                            h2{
                                font-size: 15px;
                                font-weight: 500;
                            }
                            p{
                                font-size: 12px;
                                font-weight: 400;
                            }
                            span{
                                @include flex-align(row);
                                gap: 5px;
                            }
                            .status, .assessments, .time{
                                &::after{
                                    content: '|';
                                    margin: 0 0 0 5px;
                                }
                            }
                            .assessments{
                                .yes{
                                    color: $yellow-color;
                                }
                            }
                        }
                    }
                    .foods{
                        @include flex-align(row);
                        justify-content: flex-start;
                        padding-left: 15px;
                        width: calc(100% - 15px);
                        overflow-x: scroll;
                        overflow-y: hidden;
                        align-items: flex-start;
                        margin-top: 5px;
                        gap: 10px;
                        &::-webkit-scrollbar{
                            display: none;
                        }
                        .food{
                            @include flex-align(column);
                            text-decoration: none;
                            color: black;
                            width: 140px;
                            padding: 5px;
                            align-items: flex-start;
                            justify-content: flex-start;
                            img{
                                border-radius: 20px;
                                margin-bottom: 5px;
                            }
                            h3, p{
                                text-align: start;
                                max-width: calc(100% - 20px);
                                max-height: 55px;
                                margin: 0;
                                padding: 0 5px;
                                font-weight: 500;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                            h3{
                                font-size: 15px;
                            }
                            p{
                                font-size: 13px;
                            }
                        }
                    }
                }
                .itemClose{
                    filter: grayscale(100%);
                }
            }
        }
    }
}

@include loading;