@import '../mixins-and-variables.scss';

.background{
    background-color: $background-forms;
    min-height: 100vh;
    width: 100%;
    @include flex-align(column);
    form{
        @include flex-align(column);
        align-items: flex-start;
        gap: 10px;
        padding: 30px;
        background-color: $color-forms;
        border-radius: 15px 0;
        h1{
            margin: 0 0 10px 0;
            font-size: 35px;
            font-weight: 600;
            &::after{
                display: block;
                content: '';
                width: 35%;
                height: 2px;
                background-color: black;
            }
        }
        .inputbox{
            @include flex-align(column);
            align-items: flex-start;
            gap: 2px;
            label{
                margin: 0 0 0 15px;
                font-size: 17px;
                font-weight: 500;
            }
            .input, .inputPassword, .inputRepeatPassword{
                @include flex-align(row);
                position: relative;
                .icon{
                    position: absolute;
                    z-index: 1;
                    left: 10px;
                }
                input{
                    font-size: 15px;
                    border-radius: 7px;
                    border: 0 solid transparent;
                }
                svg{
                    height: 22px;
                    width: 22px;
                }
            }
            .input{
                input{
                    padding: 7px 5px 7px 40px;
                    width: calc(320px - 45px);
                }
            }
            .inputPassword, .inputRepeatPassword{
                input{
                    padding: 7px 40px 7px 40px;
                    width: calc(320px - 80px);
                }
                button{
                    position: absolute;
                    right: 10px;
                    @include flex-align(auto);
                    padding: 0;
                    background-color: transparent;
                }
            }
        }
        .submit{
            width: 100%;
            padding: 5px 0;
            border-radius: 7px;
            margin-top: 15px;
            &:disabled{
                cursor: auto;
            }
            p{
                margin: 0;
                font-size: 15px;
            }
        }
    }
}